
/* ============================================================== */

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-LightIt.woff2');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
        url('ProximaNova-Light.woff2') format('woff2'),
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
    font-style: normal;
}

